<div class="row login">
  <div class="col-md-8 col-sm-12 imagen ocultar-imagen"></div>
  <div class="col-md-4 col-sm-12"
       style="background-color: #e8eeee; display: flex; justify-content: center; align-items: center;">

    <div class="row">
      <div class="col-sm-12"
           style="background-color: #e8eeee; display: flex; justify-content: center; align-items: center; margin-bottom: 3rem">

        <img src="assets/player.svg" alt=""
             height="65px"
             width="230px"
        >

      </div>
      <button class="btn btn-primary" (click)="goPlayerList()">Go</button>
    </div>
    <div>

    </div>


  </div>
</div>

